.linea-izquierda{
	border-bottom: 3px solid black;
	width: 10%;
	margin: 20px 0;
}

.linea-centrada{
	border-bottom: 2px solid gray;
	width: 10%;
	margin: 25px auto;
}

.perfil{
	width: 33.33%;
	float: left;
	padding: 15px;
	position: relative;
	font-size: 0px; <!-- Se necesita porque hay una diferencia de 4px si no se coloca -->
}

img{
	width: 100%;
}

.overlay{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.gray{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: relative;
}

.texto{
	font-size: 14px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
}

nav{
	width: 100%;
	font-size: 22px;
	text-align: center;
	margin: 5% auto;
	padding: 2% 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

nav a{
	margin: 2%;
	text-decoration: none;
	color:black;
}

.parrafo{
	text-align: center;
	font-size: 24px;
	margin: 2% 10%;
}

.coder-details {
  margin: 15px auto;
  border: 1px solid gray;
  padding: 2%;
}

.foto{
	width: 20%;
	margin: 0 auto;
}

.foto img{
	border-radius: 100%;
}

.center{
	text-align: center;
}

.barra{
	background-color: gray;
	padding:2.5%;
	margin: 5%;
	color: white;
}

.large{
	width: 75%;
}

.medium{
	width: 50%;
}

.small{
	width: 25%;
}

.bio{
	padding: 5%;
}

.grid-portafolio{
	padding: 2%;
}
